/* Main Divs */

h1 {
    text-align: center;
}

#mainDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

#gameDiv {
    margin: auto;
    width: 45%;
}

#scoreAndWordDiv {
    width: 45%;
}

/* Game Board Styles */

#boardDiv {
    margin: auto;
    width: 40%;
    border: 3px steelblue solid;
}

table {
    margin: auto;
    border-collapse: separate;
    width: 100%;
    height: 100%;
    border: 2px black solid;
}

td {
    font-size: 1.6em;
    background-color: antiquewhite;
    border: 0.5px solid black;
    text-align: center;
    padding: 1.5px;
}


/* Form Styles */

#guessFormDiv {
    margin: auto;
    width: 50%;
}

#guessForm > * {
    padding-top: 5px;
    margin: auto;
    margin-top: 5px;
}

input {
    border: none;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

input:focus {
    border: 1px solid black;
    background-color: white;
}

#invalidWord {
    text-align: center;
}

/* Score Display */

.scores {
    display: flex;
    height: 35px;
}

/* Timer */

#timerDiv {
    display: flex;
    justify-content: center;
}