{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block content %}
<h1>Boggle</h1>

<div id="mainDiv">
    <div id="gameDiv"><br>
        <div id="timer"></div>
        <div id="boardDiv">
            <table id="gameBoard">
                {% for row in board %}
                <tr>
                    {% for letter in row %}
                    <td>{{letter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        <div id="guessFormDiv">
            <form id="guessForm">
                <input type="text" name="guess" id="guess" placeholder="Enter your guess">
                <button type="submit">Submit</button>
            </form>
        </div>
        <h4 id="invalidWord"></h4>
    </div>
    
    <div id="scoreAndWordDiv">
        <div id="scoreDisplay">
            <h3>Score: </h3>&nbsp;
            <h3 id="score">0</h3>
        </div>

        <ul id="resultList">
        </ul>
    </div>
</div>
{% endblock %}